<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href=1.scss">
    <title>Document</title>

</head>
<body class="fw-medium">

  <nav class="navbar navbar-expand-lg border-bottom">
    .
    <div class="container-fluid">
      <div class="container"> 
       
        <div class=" navbar navbar-nav  flex-row">
          <div class="col-2 mx-2 d-lg-none ">
            <a class="navbar-brand" href="#">
                <img class="w-100" src="./img/1.png" alt="Your Logo">
            </a>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

        
      </button>
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-lg-none flex-row ">
       
        <li class="nav-item mx-3">
            <a class="nav-link" href="signup.html">Đăng ký</a>
        </li>
        <li class="nav-item mx-2">
            <a class="bg-warning rounded-pill nav-link text-white" href="#">Đăng nhập</a>
        </li>
    </ul>
  </div>
     
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div class=" col-1 mt-4   mx-3">
          <a class="navbar-brand" href="index.html">
              <img class="img-fluid d-none d-lg-block" src="./img/1.png" alt="Your Logo">
          </a>
      </div>
      
      
          <form class="d-flex  mt-3  mt-lg-0" role="search">
            <input class="form-control rounded-pill me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn bg-warning rounded-pill" type="submit"><i class=' text-white bx bx-search'></i></button>
          </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              VND
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mở ứng dụng </a></li>
              <li><a class="dropdown-item" href="#">Xem gần đây </a></li>
              
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="product.html">Tour </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="productdetail.html">Tour chi tiết</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Liên Hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cart.html">Giỏ hàng </a>
          </li>
         
          <li class="nav-item d-lg-block d-none">
            <a class="nav-link" href="signup.html">Đăng ký</a>
        </li>
        <li class="nav-item d-lg-block d-none">
            <a class="bg-warning rounded-pill nav-link text-white" href="signin.html">Đăng nhập</a>
        </li>
        
        
        
        
         
        
        </ul>
       
      </div>
    </div>
    
  </nav>

  <div class="container ">
    <ul class="navbar navbar-nav flex-row col-11 ">
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link d-none d-lg-block" href="#"> <i class='bx  bx-map'></i>Bạn muốn đi đâu</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bxs-tree-alt' ></i>vé tham quan</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bx-home' ></i>Khách sạn</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"> <i class='bx bx-walk' ></i>Di chuyển</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bxs-car-garage'></i>Thuê xe</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bxs-car-garage'></i>Thuê xe tự lái</a>
      </li>
    
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"> <img style="width:20px" src="./img/category_36_gift_card.png" class="pb-1" alt="">Phiếu quà tặng</a>
      </li>
    </ul>
</div>

<section class="h-100 gradient-form " >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="./img/1.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Đăng Ký </h4>
                  </div>
  
                  <form>
                    
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Username " />
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Phone number or email address" />
                      <label class="form-label" for="form2Example11">Phonenumber</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-warning btn-block fa-lg gradient-custom-2 mb-3" type="button">
                        Đăng ký
                      </button>
                        <br>
                      <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                      
                    </div>
  
                    <!-- <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2"></p>
                      <button type="button" class="btn btn-outline-danger">Create new</button>
                    </div> -->
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex bg-warning align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Đem niềm vui đến cho khách hàng</h4>
                  <p class="small mb-0">Đặt ngay dịch vụ trung chuyển thuận tiện và thoải mái đến công viên Safari World!
                    Tham quan công viên Safari Park, một vườn thú mở với hàng trăm loài động vật sống trong môi trường tự nhiên
                    Có cơ hội thưởng thức 8 chương trình biểu diễn ngoạn mục tại Safari World như Cowboy Stunt Show và hơn thế nữa!
                    Xem  để tìm hiểu thêm về công viên Safari World và mua vé vào cổng
                  
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






  <footer class="bg-warning text-white pt-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="col-4 mb-4  ">
            <a class="navbar-brand" href="#">
                <img class="w-100" src="./img/1.png" alt="Your Logo">
            </a>
        </div>
          <h5>Liên hệ với chúng tôi </h5>
          <p class="m-0">Email: nplong2512004.com</p>
          <p>Phone: 0989-999-999</p>
        </div>
        <div class="col-md-3">
          <p>Điều khoản sử dụng</p>
          <div class="fw-light ">
           <p class="m-0">Chính sách bảo mật</p>
           <p class="m-0">Chính sách cookie</p>
           <p class="m-0">Phương trình kiểm lỗi</p>
           <p class="m-0">Chính sách bảo mật</p>
           <p class="m-0">Chính sách </p>
          
          </div>
          
        </div>
        <div class="col-md-3">
          <p>Tài trợ</p>
          <div class="fw-light ">
           <p class="m-0">Chính sách bảo mật</p>
           <p class="m-0">Chính sách cookie</p>
           <p class="m-0">Phương trình kiểm lỗi</p>
           <p class="m-0">Chính sách bảo mật</p>
           <p class="m-0">Chính sách </p>
          
          </div>
          
        </div>
        <div class="col-md-3">
          <p>Thanh toán</p>
          <div class="fw-light ">
           <p class="m-0">Chính sách thanh toán
            <div class="col-4  ">
              <a class="navbar-brand" href="#">
                  <img class="w-100" src="./img/tt.png" alt="Your Logo">
              </a>
          </div>
          <div class="col-4  ">
            <a class="navbar-brand" href="#">
                <img class="w-100" src="./img/tt22.png" alt="Your Logo">
            </a>
        </div>
           </p>
          </div>
        </div>    
      </div>
      <div class="row pt-4">
        <div class="col">
          <p class="my-auto text-center">travelchanel © 2024 Your Website.</p>
        </div>
      </div>
    </div>
  </footer>
<style>
    
</style>




  
  
  

  
  






    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>